fastapi
uvicorn
pydantic
pytest
requests
httpx
python-dotenv
openai==0.28
transformers
pycryptodome
passlib
weasyprint
jinja2
pyspellchecker
python-jose
scikit-learn
python-multipart
redis
tenacity
reportlab
pymupdf
flask
selenium
axe-selenium-python
cryptography
